
#frontpageBody {
    display: grid;
    grid-template-columns: 1.5fr 6fr 1.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "navig navig navig"
                        "left content right"
                        "foot foot foot";
}

#frontpageLeft {
    grid-area: left;
}

#frontpageRight {
    grid-area: right;
}

#frontpageContent {
    font-family: Arial, sans-serif;
    grid-area: content;
    text-align: center;
    min-height: calc(100vh - 48px - 85px);
    background-color: #ececec;
}

#frontpageContent hr {
    color: lightgray;
}

.frontpageimage {
    display: inline-block;
    padding: 0.8%;
}

#frontpageContent img {
    margin: 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#frontpageNav {
    grid-area: navig;
}



#frontpageFooter {
    grid-area: foot;
}
