.divE1 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    text-align:  center;
    background-color: #EDEDED;
}

.imgE1 {
    width: 96%;
    margin: 2%;
}

.bodyE1 {
    margin: 0;
}
