#aboutmeBody {
    display: grid;
    grid-template-columns: 1.5fr 6fr 1.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "navig navig navig"
                        "left content right"
                        "foot foot foot";
}

#aboutmeLeft {
    grid-area: left;
}

#aboutmeRight {
    grid-area: right;
}

#aboutmeContent {
    font-family: Arial, sans-serif;
    grid-area: content;
    text-align: center;
    min-height: calc(100vh - 48px - 125px);
    background-color: #ececec;
}

#aboutmeNav {
    grid-area: navig;
}



#aboutmeFooter {
    grid-area: foot;
}
