.footerFootercompo {
    font-size: 15px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 200%;
    color: white;
    background-color: #001F2A;
    text-align: center;
}
